
// -------------------- COLORS -------------------- //

$primary-soft-orange: hsl(35, 77%, 62%);
$primary-soft-red: hsl(5, 85%, 63%);

$neutral-Off-white: hsl(36, 100%, 99%);
$neutral-Grayish-blue: hsl(233, 8%, 79%);
$neutral-Dark-grayish-blue: hsl(236, 13%, 42%);
$neutral-Very-dark-blue: hsl(240, 100%, 5%);

