
@use './colors.scss';

.font-paragraph{
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    color: colors.$neutral-Dark-grayish-blue;
}

.weight-400{
    font-weight: 400;
}

.weight-700{
    font-weight: 700;
}

.weight-800{
    font-weight: 800;
}