@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Alata&display=swap');

.font-paragraph{
    font-size: 15px;
}

.weight-400{
    font-weight: 400;
}

.weight-700{
    font-weight: 700;
}

.weight-800{
    font-weight: 800;
}