@use '../../assets/scss/responsive.scss';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Aclonica', sans-serif;
    font-family: 'Alata', sans-serif;
}

body{
    padding: 5%;
    
    @include responsive.desktop {
        padding: 5% 10% 5% 10%;
    }
}