@use '../../assets/scss/responsive.scss';
@use '../../assets/scss/colors.scss';

.notices{    
    margin-top: 4rem;
    margin-bottom: 4rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include responsive.desktop{
        flex-direction: row;
    }

    .card{

        display: flex;
        gap: 1.4rem;
        width: 100%;

        @include responsive.desktop{
            height: 150px;

            border-right: 1px solid colors.$neutral-Dark-grayish-blue;
        }

        img{
            width: 30%;
        }

        .info{
            width: 70%;

            display: flex;
            flex-direction: column;

            .num{
                font-weight: 800;
                font-size: 2rem;
                color: colors.$neutral-Grayish-blue;

                @include responsive.desktop{
                    font-size: 1.7rem;
                }
            }

            .title{
                color: colors.$neutral-Very-dark-blue;
                font-weight:800;
                font-size: 1rem;
                text-align: justify;

                padding: 1rem 0 1rem 0;

                @include responsive.desktop{
                    padding: 0;
                    cursor: pointer;

                }
            }

            .text {
                @include responsive.desktop{
                    font-size: 15px;
                }
            }
        }

    }


}