@use '../../assets/scss/responsive.scss';
@use '../../assets/scss/colors.scss';

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: colors.$neutral-Very-dark-blue;

    .logo{
        scale: 0.9;
        
        @include responsive.desktop {
            background-color: red;
        }
    }

    .burguer{
        scale: 1.2;

        @include responsive.desktop {
            display: none;
        }
    }

    .closeSpace{
        background-color: hsla(236, 13%, 42%, 0.62);
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;

        position: absolute;

        @include responsive.desktop {
            display: none;
        }
    }

    .container-menu{
        background-color: white;
        position: absolute;
        top: 0;
        right: 0;

        width: 70%;
        height: 100vh;
        padding: 1.6rem;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;


        @include responsive.desktop {
            position: relative;
            right: 0;
        }
  
        .closeMenu{
            align-self: center;
            justify-self: end;
            scale: 1.2;
        }

        .menu{
            display: flex;
            flex-direction: column;
            padding-top: 6rem;

            gap: 1.6rem;
            list-style: none;
            font-size: 1.4rem;
        }

        

    }
}